<template>
    <div>
        <details class="border mb-3">
            <summary class="bg-light p-3">
                <h4 class="h5 d-inline">
                    Образование нейтралитивов с помощью суффиксов общего и среднего рода
                </h4>
            </summary>
            <div class="border-top p-4">
                <p>
                    К категории общего рода часто относятся оценочные слова с отрицательным и положительным значением,
                    образованные от прилагательных. Так, мы можем одинаково как о женщине, так и о мужчине сказать:
                    громила, верзила, соня, тихоня, копуша, лежебока, непоседа, умница, молодчина, детина, трудяга,
                    простофиля, горемыка, балда. Некоторые названия профессий не имеют гендерной окраски: судья,
                    бариста, тамада, и, в конце концов, коллега. Словами общего и среднего рода,
                    применимыми к людям разного гендера, являются детка, крошка, дитя, друже, супруже, старче, солнышко, звезда.
                </p>
                <p>
                    Общая закономерность обнаруживается в том, что слова, оканчивающиеся на гласные звуки и мягкий знак,
                    имеют потенциал быть нейтрально окрашенными. Образующими суффиксами часто выступают:
                    <em>-ак-(а), -ык-(а), -ин-(а), -ист-(а), -яг(а), -ыг(а), -ук(а), -ул(я), -уш(а), -уж-(е), -ч-(е)</em> и другие.
                    Есть и суффиксы, не имеющиие гендерные привязки и имеющиеся в языке, чтобы обозначить людей разных гендеров
                    — как суффикс <em>-чин-(а)</em> в словах «мужчина», «девчина» и «дурачина».
                    С использованием подобных морфем можно образовать такие нейтралятивы, как
                </p>
                <ul>
                    <li><strong>родче</strong> (родственница/родственник);</li>
                    <li><strong>борче</strong> (борица/борец);</li>
                    <li><strong>ловче</strong> (ловица/ловец);</li>
                    <li><strong>крысоловче</strong> (крысоловица/кросолов);</li>
                    <li><strong>лекарче</strong> (лекарь/лекарица);</li>
                    <li><strong>приятче</strong> (приятель/приятельница);</li>
                    <li><strong>родитче</strong> (родительница/родитель);</li>
                    <li><strong>водитче</strong> (водительница/водитель);</li>
                    <li><strong>продавчина</strong> (продавщица/продавец);</li>
                    <li><strong>художчина</strong> (художница/художник);</li>
                    <li><strong>специалиста</strong> (специалистка/специалист);</li>
                    <li><strong>храбрища, храбришка или храбрина</strong> (храбрица/храбрец);</li>
                    <li><strong>силачища, силачишка, силачишко или силачина</strong> (силачка/силач);</li>
                    <li><strong>красавче, красавже, красивко или красивка</strong> (красавица/красавец);</li>
                    <li><strong>имигрента</strong> (имигрантка/имигрант);</li>
                    <li><strong>ребёнко</strong> (ребёнка/ребёнок).</li>
                </ul>
            </div>
        </details>
        <details class="border mb-3">
            <summary class="bg-light p-3">
                <h4 class="h5 d-inline">
                    Возврат к корням заимствованного слова
                </h4>
            </summary>
            <div class="border-top p-4">
                <p>
                    Интересным подходом также является возврат к изначальной, лишённой гендерной окраски форме слова в языке,
                    из которого оно было заимствовано. Примерами таких нейтралитивов могут служить несколяемые по падежам
                    <strong>геогра́фос</strong> и <strong>биоло́гос</strong> — греческие наименования профессий описания земного и познания живого.
                </p>
            </div>
        </details>
        <details class="border mb-3">
            <summary class="bg-light p-3">
                <h4 class="h5 d-inline">
                    Система ALT+X нейтралитивов
                </h4>
            </summary>
            <div class="border-top p-4">
                <p>
                    Некоторые варианты нейтралитивов для существительных были предложены активистами.
                    Так, потихоньку набирают распространение ALT+X нейтралитивы, разработанные <nuxt-link to="/@jellyreap0p">@jellyreap0p</nuxt-link>.
                    По задумке, они несут в себе некоторый символизм «отмены» гендерирования.
                    Так, окончание «альт», обычно сращиваемое с буквой «а» в суффиксе или окончании слова
                    (или добавляемое после основы), означает альтернативу. Примерами таких нейтралитивов являются:
                    <strong>асексуальт, музыкальт, консультальт</strong>. В свою очередь, окончание «икс» или «екс»,
                    обычно сращиваемое с буквой «и» или «е» в суффиксе или окончании слова (или добавляемое после основы),
                    означает знак креста, перечёркивание на гендерном окончании. Примерами таких нейтралитивов являются:
                    <strong>биромантикс, директрикс, подписчикс, подростекс</strong>. Ударение в слове остаётся неизменным и после
                    присоединения окончания всё ещё падает на ту морфему, на которую падало до.
                    В единственном числе ALT+X нейтралитивы не склоняются, чтобы избежать гендерирования,
                    а во множественном числе могут иметь формы склонения во всех падежах, кроме родительного и винительного.
                </p>
            </div>
        </details>
        <div>
            <p>
                Нейтралитивы обычно употребляются со средними/нейтральными формами, например:
                «моё красивое партнёрикс пришло домой», или с формами множественного числа, например:
                «Оскар — истинные театраликс, они почти ежедневно ходят в театр».
            </p>
            <p>
                Мы представляем открытый для редактирования словарь существительных, указывающий их мужскую,
                женскую и нейтральную/среднюю/небинарную форму.
            </p>
        </div>
        <Separator icon="book-open"/>
        <slot></slot>
    </div>
</template>
